* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex-container {
  height: 400px;
  display: flex;
  background-color: rgb(97, 85, 85);
  flex-direction: column;
  /* is always on the main axis */
  justify-content: end;
  /* is always on the cross axis */
  align-items: center;
  align-self: center;
}

.item1,
.item2,
.item3 {
  margin: 10px;
  width: 100px;
  height: 100px;
  background: #235d23;
  color: azure;
  text-align: center;
  text-decoration: underline;
}

/* .item3 {
  align-self: start;
}

.item2 {
  align-self: center;
}

.item1 {
  align-self: end;
} */
